<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bridge</title>
    <script>
        window.open("http://"+document.domain+"/oauth2/authorization/google", "_self");
    </script>
</head>
<body>
<h1>THIS IS BRIDGE</h1>
</body>
</html>